<h1>Add a New Vehicle</h1>

<form action="/vehicles" method="POST">
  <div class="form-group">
    <label for="year">Year:</label>
    <input type="number" id="year" name="year" class="form-control" required />
  </div>
  <div class="form-group">
    <label for="make">Make:</label>
    <input type="text" id="make" name="make" class="form-control" required />
  </div>
  <div class="form-group">
    <label for="model">Model:</label>
    <input type="text" id="model" name="model" class="form-control" required />
  </div>
  <div class="form-group">
    <label for="mileage">Mileage:</label>
    <input
      type="number"
      id="mileage"
      name="mileage"
      class="form-control"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
